@import "./global";
@import "./variables";
@import "./content";
@import "./site";
@import "./custom";

#mlb2-14458342.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent, #mlb2-14458342.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent {
  display: flex !important;
  align-items: center !important;;
  justify-content: center !important;;
}
.ml-form-embedContent {
  display: flex !important;
  align-items: center !important;;
  margin-bottom: 1em !important;
}

.ml-form-align-center {
  display: flex !important;;
  justify-content: center;
  align-items: center !important;;
}

.ml-embedded-left .ml-form-align-center {
  justify-content: flex-start;
}

.date-filter-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 4em;
  max-width: 100%;
}


.date-filter-options a {
  position: relative; /* Ensure relative positioning for the pseudo-element */
  margin-right: 3em;
  margin-left: 3em;
  font-size: 20px;
  font-weight: 600; 
  padding-bottom: .25em; 
  margin-bottom: 1.5em
}

.date-filter-options a::after {
  content: "";
  position: absolute;
  left: 0;
  // margin-top: 1em;
  bottom: 0;
  width: 100%; /* Adjust the width of the line */
  height: 2px; /* Adjust the height of the line */
  background-color: #fd2d78; /* Change the color of the line */
  transition: width 0.3s ease; /* Add transition effect for width change */
}
@media screen and (max-width: 767px) {
  .date-filter-options {
    flex-direction: column;
    align-items: center;    
  }

  .date-filter-options a {
    margin-bottom: 0.75em;
  }
}

.date-filter-options a:hover {
  color: #fd2d78
}

a:hover {
  color: #fd2d78 !important;
}

.hide-on-small {
  display: none; /* Hide by default */
}

/* This media query applies to screens that are 640px or wider */
@media (min-width: 640px) {
  .hide-on-small {
    display: block; /* Show on medium screens and larger */
  }
}

.bookstore-h2 {
  margin-top: 0 !important;
  padding-top: 0 !important;
  margin-right: 0.5em;
}

.badge-link {
  background-color: #fd2d78;
  color: white;
  border-radius: 50%;
  padding: 5px 15px;
  font-size: 12px;
  position: relative;
  top: -22px;
  right: 100px;
}