---
import dayjs from 'dayjs'

export interface Props {
  post: any;
}

const { post } = Astro.props;
console.log(post)
---

<div class="transition-all duration-75 ease-in-out h-full block relative top-0 hover:-top-2 shadow-lg hover:shadow-xl bg-white rounded-xl overflow-hidden" data-test="article-card">
  <a href={post.url}
  class="transition-all duration-75 ease-in-out h-full top-0 hover:-top-2 shadow-lg hover:shadow-xl bg-white rounded-xl"
  >

    <div class="py-6 px-8">
      <h2 class="font-bold text-2xl leading-tight">
        {post.title}
      </h2>
      <p class="text-xs text-gray-600 mt-4 flex items-center">
        {dayjs(post.pubDate).format('MM-DD-YYYY')}
      </p>
    </div>
  </a>

  <div class="flex items-center pl-8 pb-3">
    {post.tags && (
      <div>
        {Array.isArray(post.tags) ? (
          post.tags.map((t) => <a href={`/tag/${t}`} class="transition-all duration-75 h-fit inline pr-2">{`#${t}`}</a>)
        ) : (
          <span>Tags are not an array.</span>
        )}
      </div>
    )}
  </div>
</div>

<!-- <p class="transition-all duration-75 ease-in-out hover:-top-2 text-xs text-gray-600 mt-4 flex items-center"></p> -->

<style>
  img {
    width: 100%;
    aspect-ratio: 15/7;
    object-fit: cover;
  }
</style>