---
export interface Props {
title: string;
description: string;
}
const { title, description, city } = Astro.props;
---
<style>
  .responsive-header {
      font-size: 6rem;
  }
  @media (max-width: 800px) {
      .responsive-header {
          font-size: 3rem;
      }
  }
</style>

<!-- <header class="mx-auto max-w-4xl flex flex-col content">
  <h2 data-test="header-description" class="font-jakarta font-normal text-5xl lg:pb-16 pt-12">{description} <span class="text-customGreen1">{city}.</span></h2>
</header> -->
<header class="mx-auto max-w-4xl flex flex-col text-left px-4 sm:px-0">
  <h2 data-test="header-description" class="font-jakarta font-normal text-5xl lg:pb-16 pt-12">
    {description} <span class="text-customGreen1">{city}.</span>
  </h2>
</header>
