---
export interface Props {
title: string;
description: string;
}
const { title, description, city } = Astro.props;
---
<style>
  .responsive-header {
      font-size: 6rem;
  }
  @media (max-width: 800px) {
      .responsive-header {
          font-size: 3rem;
      }
  }
</style>

<header class="mx-auto max-w-6xl flex flex-col content px-3 py-8">
  <h2 data-test="header-description" class="font-jakarta font-normal text-5xl lg:pb-16 pt-4 lg:pt-12">
    A place to find <span>things</span> <span>happening</span> in <span class="text-customGreen1">{city}.</span>
  </h2>
</header>