---

---
<head>
  <style>
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        border: 2px solid black;
        background-color: white;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: black;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
  </style>
</head>
<nav class="bg-white">
  <div class="max-w-5xl mx-auto px-3 py-3 flex items-center justify-between h-16">
    <a href="/" class="flex items-center">
      <img src="/images/logo.svg" class="h-8 w-8 mr-1">
      <div class="leading-loose font-semi text-xl hover:text-customGreen1">Things <span class="text-customGreen1">Happening</span></div>
    </a>
    <div class="flex">
      <a href="/search" class="mr-4 mt-1 items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
      </a>
      <a target="_blank" href="https://www.facebook.com/people/ThingsHappening-Chattanooga/61559147467507/?sk=about&section=follow" class="mr-4"><img src="/images/icons/facebook.png" style="width: 1.9em; height: 1.9em" alt="facebook"></a>
      <span onclick="openNav()" class="mr-4 mt-1"><img src="/images/icons/hamburger.png" style="width: 1.5em; height: 1.5em; cursor: pointer" alt="facebook"></span>
    </div>
  </div>
  <div class="w-full border-b-2 border-black squiggle"></div>

  <div id="sideNavPopOut" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/chattanooga/guides" target="_blank">Guides</a>
    <a href="/about" target="_blank">About</a>
    <a href="/privacy-policy" target="_blank">Privacy Policy</a>
  </div>

  <script is:inline>
    function openNav() {
      document.getElementById("sideNavPopOut").style.width = "250px";
    }

    function closeNav() {
      document.getElementById("sideNavPopOut").style.width = "0";
    }
  </script>
</nav>