---
import BlogPostLayout from "../../../../../../layouts/BlogPostLayout.astro"
import { marked } from 'marked';

export async function getStaticPaths() {
  const allPosts = await Astro.glob('../**/farley-con.md');

  let dates = new Set(allPosts.flatMap(post => post.frontmatter.eventDates));
  dates = Array.from(dates);
  dates = dates.filter(element => element !== undefined);

  const paths = dates.map(date => {    
    return {
      params: { date },
    };
  });

  return paths
}

const { date } = Astro.params;
const filteredPost = (await Astro.glob('../**/farley-con.md')).find((p) => {return p.frontmatter.eventDates.find((d) => d == date)});
const postDetails = Object.assign(filteredPost.frontmatter, {pubDate: date});
---

<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <ul>
      <BlogPostLayout content={postDetails}>
        <div set:html={marked(filteredPost.rawContent())}>
      </BlogPostLayout>
    </ul>
  </body>
</html>